# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
.Rproj.user

stimulus_frames*

*.html
.DS_Store

# for testing importscript templates
data/testLabtestLab/

raw_data
processed_data

*_xy_timepoints.csv
demographic_data

data/
data

helper/stimuli

heatmaps/

lookingscore_graphs/
006-aoi-analysis_files/figure-html/unnamed-chunk-10-1.png
006-aoi-analysis_files/figure-html/unnamed-chunk-11-1.png
006-aoi-analysis_files/figure-html/unnamed-chunk-11-2.png
006-aoi-analysis_files/figure-html/unnamed-chunk-19-1.png
006-aoi-analysis_files/figure-html/unnamed-chunk-21-1.png
006-aoi-analysis_files/figure-html/unnamed-chunk-23-1.png
006-aoi-analysis_files/figure-html/unnamed-chunk-5-1.png
006-aoi-analysis_files/figure-html/unnamed-chunk-6-1.png
006-aoi-analysis_files/figure-html/unnamed-chunk-9-1.png
006-aoi-analysis_files/libs/bootstrap/bootstrap-icons.css
006-aoi-analysis_files/libs/bootstrap/bootstrap-icons.woff
006-aoi-analysis_files/libs/bootstrap/bootstrap.min.css
006-aoi-analysis_files/libs/bootstrap/bootstrap.min.js
006-aoi-analysis_files/libs/clipboard/clipboard.min.js
006-aoi-analysis_files/libs/quarto-html/anchor.min.js
006-aoi-analysis_files/libs/quarto-html/popper.min.js
006-aoi-analysis_files/libs/quarto-html/quarto-syntax-highlighting.css
006-aoi-analysis_files/libs/quarto-html/quarto.js
006-aoi-analysis_files/libs/quarto-html/tippy.css
006-aoi-analysis_files/libs/quarto-html/tippy.umd.min.js
